.footer {
  background: #2E2F42;
}

.footer-logo {
  color: #F4F4FD;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase
}

.footer-logo span {
  color: #4D5AE5;
}

.footer-content {
  color: #F4F4FD;
}