body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  background-color: #FFFFFF;
  letter-spacing: 0.02em;
}

.logo {
  max-width: 115px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 21px;
}

.logo span {
  color: #4D5AE5;
}


.button {
  padding: 16px 32px;
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.4s ease;

}

.button:hover {
  background-color: #404BBF;
}

.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;

}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 156px;
}

.header {
  padding: 25px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-weight: 500;
}

.menu__link:hover {
  color: #404BBF;
}

.menu__link {
  position: relative;
  text-decoration: none;
  padding: 20px 0;
  color: #2e2f42;
}

.menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
}

.menu__link:focus::after {
  opacity: 1;
}

.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.address__link:hover {
  color: #404BBF;
}

.section {
  padding: 120px 0;
}

.hero {
  background-color: #2E2F42;
}

.hero__content {
  max-width: 496px;
  width: 100%;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
}

.hero__content--title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  margin-bottom: 48px;
}

.features__inner {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.features__box {
  max-width: 264px;
  width: 100%;
  text-align: left;
}

.features__box-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.team {
  background-color: #F4F4FD;
}

.team__inner {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team__box {
  max-width: 264px;
  width: 100%;
  text-align: center;
  padding-bottom: 32px;
  border-radius: 4px;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team__box-img {
  margin-bottom: 32px;
}

.team__name {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* section portfolio */


.portfolio__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.portfolio__card {
  max-width: 360px;
  width: 100%;
  border: 1px solid #E7E9FC;
}

.portfolio__content {
  padding: 32px 16px;

}

.portfolio__name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}



/* Footer */

.footer {
  background-color: #2E2F42;
  padding: 100px 156px;
}

.footer__content {
  max-width: 264px;
  width: 100%;
  color: #FFFFFF;
}

.footer__text {
  margin-top: 16px;
}